@page "/edit/{id:int}"
@using BookLibrary.Application.Interfaces
@using BookLibrary.Domain.Entities
@using BookLibrary.Domain.Enums

@inject IBookRepository Repository
@inject NavigationManager Navigation
<PageTitle>
	Edit Book
</PageTitle>


<div class="row justify-content-center">
	<div class="col-6">
		<BookForm IsEditMode="true" BookId="@Id" OnValidBookSubmit="EditBook1"></BookForm>
	</div>
</div>

@code {
	[Parameter]
	public int Id { get; set; }

	private async Task EditBook1(Book book)
	{
		await Repository.UpdateAsync(book);
		Navigation.NavigateTo("/");
	}
}
