@page "/searchbooks"
@using BookLibrary.Application.Interfaces
@using BookLibrary.Domain.Entities
@using BookLibrary.Domain.Enums
@using BookLibrary.Infrastructure.Repositories
@inject IJSRuntime JS

@inject IBookRepository Repository
@inject NavigationManager Navigation

<PageTitle>
	Search Book
</PageTitle>

<div class="col-6">
    <div class="mb-3">
        <EditForm method="post" FormName="Search" Model="Book" OnValidSubmit="OnSearchClicked" autocomplete ="off">
            <InputText @bind-Value="Book.Title"
                       placeholder="Type book title..."
                       class="form-control shadow-none" />
            <button type="submit">
                Enter
            </button>
        </EditForm>
        <EditForm FormName="SearchGenre" Model="Book" OnValidSubmit="OnGenreClicked" autocomplete="off">
            <InputRadioGroup @bind-Value="Book.Genre" class="btn-group">

                <label class="btn btn-outline-secondary">
                    <InputRadio Value="Genre.Fiction" /> Fiction
                </label>

                <label class="btn btn-outline-secondary">
                    <InputRadio Value="Genre.Fantasy" /> Fantasy
                </label>

                <label class="btn btn-outline-secondary">
                    <InputRadio Value="Genre.Mystery" /> Mystery
                </label>

                <label class="btn btn-outline-secondary">
                    <InputRadio Value="Genre.Historical" /> Historical
                </label>

                <label class="btn btn-outline-secondary">
                    <InputRadio Value="Genre.Adventure" /> Adventure
                </label>

            </InputRadioGroup>

            <button type="submit" class="btn btn-primary mt-2">
                Apply Genre
            </button>
        </EditForm>
        

    </div>
    @if (filteredBooks is null)
    {
        <div class="book-item">Loading books..., Please wait!</div>
    }
    else if (filteredBooks.Any())
    {
        @foreach (var book in filteredBooks)
        {
            <div class="book-item mb-2">
                <BookCard Book1="book" />
            </div>
        }
    }
    else
    {
        <div class="book-item">No books found.</div>
    }

</div>

@code {
    [SupplyParameterFromForm]
    public Book Book { get; set; } = new Book();
    private List<Book> filteredBooks = new();
    private string? searchText = "";
	private int? searchGenre = 0;

    protected override async Task OnInitializedAsync()
    {
        // Optionally load all books at first
        filteredBooks = await Repository.GetAllAsync();
    }
    // Called when the user types
    private async Task OnSearchClicked()
    {
        searchText = Book.Title;

        if (string.IsNullOrWhiteSpace(searchText))
        {
            filteredBooks = await Repository.GetAllAsync();
        }
        else
        {
            filteredBooks = await Repository.SearchByNameAsync(searchText);
        }
        StateHasChanged();
    }

    private async Task OnGenreClicked()
    {
        var genre = Book.Genre;

        filteredBooks = await Repository.SearchByGenreAsync(genre);

    }
}